<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
</head>
<style>
    
        body{
            font-family:Arial, Helvetica, sans-serif;
            text-align:center;
            border: solid 1px;
            height: 350px;
            width: 250px;
            padding: 10px;
            margin: 100px 10px 10px 10px;
            position: absolute;
            margin-left: 42%;
        }
</style>

<body>
    <div 
        class="title" value="SUBARU"> CREATE USER 
    </div>
    <br>
    <div>
        <input type="text" placeholder="USER NAME">
    </div>
    <br>
    <div>
        <input type="text" placeholder="FIRST NAME">
    </div>
    <br>
    <div>
        <input type="text" placeholder="LAST NAME">
    </div>
    <br>
    <div>
        <input type="email" placeholder="EMAIL">
    </div>
    <br>
    <div>
        <input type="password" placeholder="PASSWORD">
    </div>
    <br>
    <div>
        <p>

            ROL:
        
            <select name="genero">
        
              <option>Final user</option>
        
              <option>Administrator</option>
        
            </select>
        
          </p>
        <!--<input type="text" placeholder="ROL">-->
    </div>
    <br>
    <div>
        <button input type="button" onclick="alert('User created')">Create User</button>
    </div>
    
</body>
</html>