.title{
  color: rgb(3, 3, 68);
  font-size: 40px;
  text-align: center;
  font-weight: bold;
}
.subtitle{
  color: rgb(3, 3, 68);
  font-size: 25px;
  text-align: center;
  font-weight: bold;
}
.subtitle1{
  color: black;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
}
body{
  font-family:Arial, Helvetica, sans-serif;
  text-align:center;
  border: solid 1px;
  border-radius: 10px;
  height: 500px;
  width: 650px;
  padding: 10px;
  margin: 50px 10px 10px 10px;
  position: relative;
  margin-left: 28%;
}
table,
th,
td{
  width: 300px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 1px solid black;
  border-collapse: collapse;               
}
.colum{
  float: left; 
  width: 50%;
  padding: 10px;
  height: 200px;
} 
#btn{            
  cursor: pointer;
}
button {
  background-color: rgb(3, 3, 68);
  border: black;
  color: white;
  padding: 8px 20px;
  text-align: center;
  font-weight: bold;
  border-radius: 6px;
  border: 1px solid black;
}
