<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create User</title>
    <link rel="stylesheet" type="text/css" href="static/css/miEstilo.css"/>
</head>
<body>
    <div><img src="static/images/logo.png" width="100" height="100" /></div>
    <div class="title" value="SUBARU"> SUBARU </div>
    <br>
    <div class="subtitle" value="creUser"> CREATE USER </div>
    <br>
    <div>
        <input type="text" placeholder="USER NAME">
    </div>
    <br>
    <div>
        <input type="text" placeholder="FIRST NAME">
    </div>
    <br>
    <div>
        <input type="text" placeholder="LAST NAME">
    </div>
    <br>
    <div>
        <input type="email" placeholder="EMAIL">
    </div>
    <br>
    <div>
        <input type="password" placeholder="PASSWORD">
    </div>
    <br>
    <div>
        <p>
            <div class="subtitle1" value="rol"> SELECT YOUR ROL      
            <select name="genero">
        
                <option>--Select Rol--</option>
                <option>Final user</option>
                <option>Administrator</option>
        
            </select>
            </div>
          </p>
        <!--<input type="text" placeholder="ROL">-->
    </div>
    <div>
        <button input type="button" onclick="alert('User created')">Create User</button>
    </div>
    
</body>
</html>