<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Delete User</title>
    <link rel="stylesheet" type="text/css" href="static/css/miEstilo.css"/>
</head>
<body>
  <div><img src="static/images/logo.png" width="100" height="100" /></div>
    <div class="title" value="SUBARU"> SUBARU </div>
    <br>
    <div class="subtitle" value="delUser"> DELETE USER </div>
    <br>
    <p>
    <div class="subtitle1" value="what"> WHY DO YOU WANT TO DELETE THIS USER? 
    <select name="Reasons">

      <option value="">--Select--</option>

      <option>Revoke</option>

      <option>Fired</option>

    </select>
    </div>
  </p>
    </div>
  <p><b>ENTER YOUR PASSWORD</b> <input type="password" name="pass" placeholder="Password"></p>        
    <div>
    
    <br />
    <div class="btn">
        <button input type="button" id="B1" onclick="alert('Deleted');"> DEFINITELY DELETE USER </button>
     
    </div>
</body>
</html>