<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Edit Page</title>
    <link rel="stylesheet" type="text/css" href="static/css/miEstilo.css"/>
</head>
<body>
    <div><img src="static/images/logo.png" width="100" height="100" /></div>
    <div class="title" value="SUBARU"> SUBARU </div>
    <br>
    <div class="subtitle" value="edPage"> EDIT PAGE </div>
    <br>
    <br>
    <div class="subtitle1" value="what"> What do you want to Edit? </div>
    <div>
    <hr class="breakline">
    </div>    
    <br>
    <div class="btn">
        <button input type="button" id="B1" onclick="alert('Edit User');"> Edit User </button>
        <button type="button" id="B1" onclick="alert('Edit Product')"> Edit Product </button>
        <button input type="button" id="B1" onclick="alert('Edit Provider');"> Edit Provider </button> 
    </div>     
</body>
</html>