<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Provider</title>
    <link rel="stylesheet" type="text/css" href="static/css/miEstilo.css"/>
</head>
<body>
    </div><img src="static/images/logo.png" width="100" height="100" /></div>
    <div class="title" value="SUBARU"> SUBARU </div>
    <br>
    <div class="subtitle" value="edProvider"> EDIT PROVIDER </div>
    <br>
    <br>
    <div class="c5"> <input type="text" id="Pn" placeholder="Provider Name">
        <button input type="button" id="c2" onclick="alert('Edit Provider name')"> Edit </button> </div>           
    </div>
    <br>
    <div class="row">
    <div class="c5"> <input type="text" id="proID" placeholder="Provider ID">
        <button input type="button" id="c2" onclick="alert('Edit Provider ID')"> Edit </button> </div>           
    </div>
    <br>
    <div class="row">
    <div class="c5"> <input type="text" id="aPro" placeholder="Associated Products"> 
        <button input type="button" id="c2" onclick="alert('Edit Associated Products')"> Edit </button> </div>           
    </div>
<br>
<br>
<br>
<div>
    <input type="password" placeholder="Enter your Password here">
    <button input type="button" onclick="alert('Save Changes')">Save Changes</button>
</div>
</body>
</html>