<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SEARCH</title>
    <link rel="stylesheet" type="text/css" href="static/css/miEstilo.css"/>
</head>
<form>
    <body>
        <div>
            <img src="static/images/logo.png" width="100" height="100" />
        </div>
        <div class="title" value="SUBARU"> SUBARU </div>
        <br>
        <div class="subtitle" value="SEARCH"> SEARCH </div>
        <br>
        <div>
            
            <p>    
                <select name="PRODUCT">
                <option selected value="0">--Select Product--</option>
            
                  <option>Product 1</option>
                  <option>Product 2</option>
                  <option>Product 3</option>
                  <option>Product 4</option>
            
                </select>
            
              </p>
        </div>
        <div>
            <p>    
                <select name="PROVIDER">
                <option selected value="0">--Select Provider--</option>
            
                  <option>Provider 1</option>
                  <option>Provider 2</option>
                  <option>Provider 3</option>
                  <option>Provider 4</option>
            
                </select>
            
              </p>
        </div>
    
        <br>
                <div class="c5">  <button input type="button" id="B1" onclick="alert('SEARCH')"> SEARCH </button></div>           
        </div>
    </body>
</form>
</html>